/* css/style.css */

/* Correct the 'body' background declaration */
body {
  background: pink;
}

/* Correct the 'h1' font-size declaration */
h1 {
  font-size: 3em;
}

/* Correct the 'h2' font-weight declaration */
h2 {
  font-weight: normal; /* Remove font-style: italic */
}

/* Correct the '.completed' font-size declaration */
.completed {
  font-size: 12px;
}

/* Correct the '#tasks .completed' background declaration */
#tasks .completed {
  background: #ccc;
}
